body, html {
    font-family: 'Source Code Pro', monospace;
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
}

.wrapper .made-with {
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.wrapper .made-with div {
    margin: 0 5px;
}

.container {
    font-size: 3em;
    display: grid;
    gap: 1em;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px 1fr;
}

.container .content.hello {
    font-size: 1.25em;
    font-family: 'Shadows Into Light', cursive;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
}

.container .content.iam {
    justify-self: end;
    grid-column: 1 / 2;
}

.container .content.contact a {
    color: inherit;
}

.container .content.contact {
    font-size: 0.75em;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
}

.container .content.steps {
    font-weight: bold;
    position: relative;
    text-align: center;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, minmax(70px, 1fr));
}

.container .content.steps .step {
    background-color: #fff;
    color: #000;
    opacity: 0;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    border-radius: 5px;
    width: 550px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    position: absolute;
}

.container .content.steps .step.front {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    top: 0px;
    opacity: 1;
}

.container .content.steps .step.bottom {
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -webkit-transform: rotateX(120deg);
    transform: rotateX(120deg);
    top: 66px;
    opacity: 0;
}

.container .content.steps .step.back {
    -moz-transform: rotateX(-120deg);
    -ms-transform: rotateX(-120deg);
    -webkit-transform: rotateX(-120deg);
    transform: rotateX(-120deg);
    top: 33px;
    opacity: 0;
}

.container .content.steps .step.who {
    background-color: #dcd427;
}

.container .content.steps .step.what {
    background-color: #f30a49;
}

.container .content.steps .step.where {
    background-color: #21e6c1;
}

@media (max-width: 1150px) {
    .container {
        gap: 0.5em;
    }
    .container .content.iam {
        grid-column: 1 / -1;
        justify-self: center;
    }
    .container .content.steps {
        grid-column: 1 / -1;
        justify-items: center;
    }
}

@media (max-width: 550px) {
    .steps {
        font-size: .75em;
    }
    .container .content.steps .step {
        width: 411px;
    }
}