body, html {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
}

.wrapper .made-with {
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.wrapper .made-with div {
    margin: 0 5px;
}

.container {
    font-size: 3em;
    display: grid;
    gap: 1em;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container .content.hello {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
}

.container .content.iam {
    justify-self: end;
    grid-column: 1 / 2;
}

.container .content.contact a {
    color: inherit;
}

.container .content.contact {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
}

.container .content.steps {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.container .content.steps .step {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

/* .wrapper {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px;
}

.wrapper>footer {
    align-self: center;
}

.made-with {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: #666;
}

.bold {
    font-weight: bold;
}

.content-container {
    justify-content: center;
    align-content: center;
    color: rgb(27, 25, 24);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 3px;
    grid-auto-rows: 75px;
    justify-items: center;
    align-items: center;
}

.content-container .nav {
    cursor: pointer;
}

.content-container .content-block a {
    color: inherit;
}

.content-container .content-block {
    font-size: 3em;
}

@media screen and (max-width: 360px) {
    .content-container .content-block {
        font-size: 2em;
    }
}

.step {
    opacity: 0;
}

.content-container .content-block.im {
    grid-area: i;
}

.content-container .content-block.step {
    grid-area: s;
    column-span: 2 / -1;
}

.content-container .content-block.steps {
    grid-column: 2 / -1;
}

.content-container .content-block.hello {
    grid-area: h;
}

.content-container .content-block.full {
    grid-column: 1 / -1;
}

.content-container .content-block.one {
    grid-column: span 1;
}

.content-container .content-block.two {
    grid-column: span 2;
}

.content-container .content-block.three {
    grid-column: span 3;
}

.content-container .content-block.four {
    grid-column: span 4;
}

.content-container .content-block.five {
    grid-column: span 5;
}

.made-with>.made-width-text {
    line-height: 20px;
}

.made-with>div {
    margin: 0 3px;
}

.made-with img {
    display: block;
}

.show-hello .hello {
    color: white;
}

.show-hello .nav-up {
    color: black;
}

.who {
    background-color: #dcd427;
    color: #000;
}

.what {
    background-color: #ff3333;
    color: #000;
}

.where {
    background-color: #0092cc;
    color: #000;
}

.show-contact .contact {
    color: #22af4b;
}

.show-contact .nav-down {
    color: black;
} */